[GENERAL]
log_file_path: log/parser.log

[DATA]
train_file_path: data/zh/train/zh-ud-train.data
train_subword_file_path: data/zh/train/zh-ud-train.sub
eval_file_path: data/zh/eval/zh-ud-eval.data
eval_subword_file_path: data/zh/eval/zh-ud-eval.sub
dev_file_path: data/zh/dev/zh-ud-dev.data
dev_subword_file_path: data/zh/dev/zh-ud-dev.sub
test_file_path: data/zh/test/zh-ud-test.data
test_subword_file_path: data/zh/test/zh-ud-test.sub

[POS]
training_sentence_len: 30
sentence_overlapping_chars: 2
pos_batch_size: 128
no_pos_candidates: 3

pos_model_save_path: models/zh/pos/model01/model
pos_model_load_path: models/zh/bpos/model.ckpt-4
pos_log_dir: models/zh/pos/logs/
pos_results_path: results/zh/pos/

[PARSE]
no_word_candidate: 3
no_pos_candidate: 3

parsing_batch_size: 64

feature_pattern_file: data/params/feature_pattern

train_word_seg_path: data/zh/train/zh-train.ws
eval_word_seg_path: data/zh/eval/zh-eval.ws
dev_word_seg_path: data/zh/dev/zh-dev.ws
test_word_seg_path: data/zh/test/zh-test.ws

train_pos_candidates_path: data/zh/train/zh-train.pos
eval_pos_candidates_path: data/zh/eval/zh-eval.pos
dev_pos_candidates_path: data/zh/dev/zh-dev.pos
test_pos_candidates_path: data/zh/test/zh-test.pos

parser_model_save_path: models/zh/parser/model.ckpt
parser_model_load_path: models/zh/parser/model04/880-900/model.ckpt-900
parser_log_dir: results/zh/parser/log/model03/

[NETWORK_PARAMS]
bpos_map: data/params/bpos
action_map: data/params/action
dep_label_map: data/params/dep_label
pos_map: data/params/pos

subword_embedding: data/zh/params/polyglot-zh_char.emb.npy
subword_embedding_map: data/zh/params/polyglot-zh_char.dict
word_embedding: data/zh/params/polyglot-zh.emb.npy
word_embedding_map: data/zh/params/polyglot-zh.dict

[EVALUATE]
evaluated_pos_file: results/zh/pos2/pos/eval.pos