[GENERAL]
log_file_path: log/parser.log

[DATA]
train_file_path: data/zh/train/zh-ud-train.data
train_subword_file_path: data/zh/train/zh-ud-train.sub
eval_file_path: data/zh/eval/zh-ud-eval.data
eval_subword_file_path: data/zh/eval/zh-ud-eval.sub
dev_file_path: data/zh/dev/zh-ud-dev.data
dev_subword_file_path: data/zh/dev/zh-ud-dev.sub
test_file_path: data/zh/test/zh-ud-test.data
test_subword_file_path: data/zh/test/zh-ud-test.sub

baseline_test_file: results/zh/baseline/final/zh-test-gold.data
baseline_test_subword_file: results/zh/baseline/final/zh-test-gold.sub

[WORD_SEG]
no_context_left: 0
no_context_right: 2
transition_prob_file: data/zh/params/transition_prob.train
ws_batch_size: 20
no_ws_candidates: 3

ws_log_dir: log/zh/word_seg/
ws_model_save_path: models/zh/word_seg/model.ckpt
ws_model_load_path: models/zh/word_seg/model03/model.ckpt-20
ws_results_path: results/zh/word_seg/model03/
ws_results_reformatted_path: results/zh/word_seg/model03/reformatted/

[POS]
training_sentence_len: 30
sentence_overlapping_chars: 2
old_pos_batch_size: 128
no_pos_candidates: 3

pos_model_save_path: models/zh/pos/model.ckpt
pos_model_load_path: models/zh/pos/model02/model.ckpt-17
pos_log_dir: models/zh/bpos/logs/
pos_results_path: results/zh/baseline/pos_results/

[BPOS]
bpos_model_save_path: models/zh/bpos/model.ckpt
bpos_model_load_path: models/zh/bpos/model01/model.ckpt-9
bpos_results_path: results/zh/bpos/model01/

[NEW POS]
log_freq_file: data/zh/params/log_word_freq.train
subword_log_freq_file: data/zh/params/log_subword_freq.train
pos_batch_size: 1

[PARSE]
no_word_candidate: 3
no_pos_candidate: 3

parsing_batch_size: 64

feature_pattern_file: data/params/feature_pattern

train_word_seg_path: data/zh/train/zh-train.ws
eval_word_seg_path: data/zh/eval/zh-eval.ws
dev_word_seg_path: data/zh/dev/zh-dev.ws
test_word_seg_path: data/zh/test/zh-test.ws

train_pos_candidates_path: data/zh/train/zh-train.pos
eval_pos_candidates_path: data/zh/eval/zh-eval.pos
dev_pos_candidates_path: data/zh/dev/zh-dev.pos
test_pos_candidates_path: data/zh/test/zh-test.pos

parser_model_save_path: models/zh/parser/model.ckpt
parser_model_load_path: models/zh/parser/model13/model.ckpt-16
parser_log_dir: results/zh/parser/log/model03/

[NETWORK_PARAMS]
bpos_map: data/params/bpos
action_map: data/params/action
dep_label_map: data/params/dep_label
pos_map: data/params/pos

subword_embedding: data/zh/params/polyglot-zh_char.emb.npy
subword_embedding_map: data/zh/params/polyglot-zh_char.dict
word_embedding: data/zh/params/polyglot-zh.emb.npy
word_embedding_map: data/zh/params/polyglot-zh.dict
bigram_embedding: data/zh/params/zh-bigram.emb.npy
bigram_embedding_map: data/zh/params/zh-bigram.dict

[EVALUATE]
evaluated_pos_file: results/zh/bpos/model02/dev.pos